.main1 {
  height: 333vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 17vh auto;
  padding: 20px;
  gap: 40px;
  width: 100%;
  max-width: 1400px;
  margin-left: 15%;
  box-sizing: border-box;
}

.standings-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.standings-container:hover {
  transform: translateY(-5px);
}

.titulo-classi {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  box-sizing: border-box;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  color: #f0f4f8;
  background-color: #5e63ff;
  font-size: 18px;
}

table tr {
  border-bottom: 1px solid #dddddd;
}

table tr:hover {
  background-color: #f1f5f9;
}

td {
  font-size: 16px;
}

td.points {
  font-size: 1.6em;
  font-weight: bold;
}

.table-team-name {
  font-size: 1.4rem;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9fafb;
}

.driver-image {
  width: 125px;
  height: auto;
  border-left: 3px solid #5e63ff;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.team-logo {
  width: 70px;
  height: auto;
  margin-right: 15px;
  vertical-align: middle;
}

.team-team {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Poppins';
}

.piloto-equipe-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

table td:first-child {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

table td:nth-child(2), table td:nth-child(3) {
  font-weight: 500;
}

.driver-name {
  text-align: left;
}

.first-name {
  font-size: 1em;
}

.last-name {
  font-weight: bold;
  font-size: 1.2em;
}

.pontucao-driver {
  font-size: 2em;
  font-family: 'Poppins';
  width: 25%;
}

.additional-team-image {
  width: 175px;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 30px;
  vertical-align: middle;
}

.classi-bar {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 70.5%;
  top: 86px;
  left: 303px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
}

.classi-bar button {
  background-color: transparent;
  border: 2px solid #5e63ff;
  color: #5e63ff;
  padding: 10px 20px;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Poppins';
  font-weight: bold;
}

.classi-bar button:hover {
  background-color: #e6ebfc;
}

.classi-bar-titulo-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.classi-bar-titulo-container svg {
  fill: #5e63ff;
}

.classi-bar-titulo {
  font-weight: 300;
  color: #202020;
  margin: 0;
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
  .main-container6 {
    margin-left: auto;
    margin-right: 5%;
    padding: 10px;
    box-sizing: border-box;
  }

  .standings-container {
    width: 100%;
    padding: 20px;
  }

  .titulo-classi {
    font-size: 20px;
  }

  table th, table td {
    font-size: 14px;
  }

  .driver-image {
    width: 100px;
    margin-left: 10px;
  }

  .team-logo {
    width: 60px;
  }
}

@media (max-width: 768px) {
  .main-container6 {
    margin-left: 20%;
    margin-top: 22vh;
    padding: 10px;
    gap: 20px;
  }

  .standings-container {
    width: 92%;
    padding: 20px;
  }


  .classi-bar {
    width: 86%;
    left: 9%;
    top: 7%;
    flex-direction: column;
    align-items: flex-start;
  }

  .titulo-classi {
    font-size: 18px;
  }

  .pontucao-driver {
    font-size: 1.5em;
  }

  table th, table td {
    font-size: 12px;
  }

  .driver-image {
    width: 90px;
    margin-left: 5px;
  }

  .team-logo {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .main-container6 {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    gap: 15px;
  }

  .titulo-classi {
    font-size: 16px;
  }

  .driver-name {
    font-size: 14px;
  }

  .first-name, .last-name {
    font-size: 14px;
  }

  .classi-bar {
    width: 100%;
    left: 0;
  }

  .classi-bar button {
    padding: 8px 10px;
    font-size: 12px;
  }

  .driver-image {
    width: 70px;
    margin-left: 5px;
  }

  .team-logo {
    width: 40px;
  }
}
