.mainPE {
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
}

.containerProdutoPE {
    margin-top: 10vh;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: 3%;
    max-width: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-headerPE {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.product-tituloPE {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 300;
    margin-left: 2%;
    text-align: center;
}

.hr2 {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
}

.product-containerPE {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.productPE {
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.productPE:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ajuste para diminuir a imagem do piloto */
.product-image-large img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    border-bottom:  2px solid #ddd;
    margin-bottom: 15px;
}

/* Nome, sobrenome e pequena imagem do piloto */
.product-textPE {
    margin-top: 10px;
}

.piloto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.piloto-nome, .piloto-sobrenome {
    margin: 0;
}

.piloto-img-small {
    width: 70px;  
    height: auto;

}

.piloto-nome {
    font-size: 18px;
    font-weight: 400;
    color: #0F233B;
    font-family: 'Poppins';
}

.piloto-sobrenome {
    font-size: 2rem;
    font-weight: 600;
    color: #0F233B;
    font-family: 'Poppins';
}

/* Imagem do carro */
.product-image-small {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.product-image-small img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border-top: 2px solid #ddd;
}

.productPE:hover img {
    opacity: 0.9;
    transform: scale(1.05);
}
