.mainSTREAM {
    padding-top: 7vh;
    padding-left: 15%;
}

.streaming-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Barra de Containers no Topo */
.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    overflow-x: auto;
}

.top-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 180px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.top-container-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-container-info {
    display: flex;
    flex-direction: column; /* Manter alinhamento vertical de h3 e p */
}

.info-description {
    display: flex;
    align-items: center; /* Centraliza o SVG e o texto verticalmente */
    gap: 5px; /* Espaço entre o SVG e o texto */
}

.info-description svg {
    margin-right: 5px; /* Espaçamento adicional se necessário */
}

.top-container-info h3 {
    font-size: 12px;
    margin: 0;
}

.top-container-info p {
    font-size: 0.8rem;
    margin: 0;
    color: #666;
}


/* Caixa Principal de Conteúdo */
.main-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    justify-content: space-between;
}

/* Caixa de Streaming */
.streaming-box {
    flex: 1;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.streaming-image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.streaming-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.info-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.streaming-info-text {
    margin-left: 20px;
    text-align: left;
    flex-grow: 1;
}

.streaming-info-text h2 {
    margin: 0 0 10px 0;
}

.streaming-info-text p {
    margin: 0;
}

.streaming-actions {
    display: flex;
    align-items: center;
}

.viewer-count {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    color: #666;
}

.viewer-count svg {
    margin-right: 5px;
}

.support-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #5e63ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.support-button svg {
    margin-right: 10px;
}

.viewer-text{
    color: rgba(170, 0, 0, 0.603);
    font-size: 1rem;
    font-weight: 600;
}
